{% extends 'base.html' %}

{% block title %}改善 - Details for {{ suggestion.title }}{% endblock %}

{% block content %}
	<a href="{% url 'suggestionbox:index' %}" class="btn btn-primary">Back to suggestions</a>
	<br>
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>{{ suggestion.title }}</h1>
			<p>{{ suggestion.description }}</p>
		</div>	
		<div class="panel-body">
		{% if user.is_staff %}
			<form action="{% url 'suggestionbox:updateStatus' suggestion.id %}" method="post" id="updateStatus" name="updateStatus">
			{% csrf_token %}
		{% endif %}
			<table class="table">
				<tr style="border: 0px">
					<th style="border: 0px">Suggested by:</th>
					<td style="border: 0px">{{ suggestion.user }}</td>
				</tr>
				<tr>
					<th>Published Date:</th>
					<td>{{ suggestion.pub_date }}</td>
				</tr>
				{% if user.is_staff %}
					{{ statusForm.as_table }}
				{% else %}
					<tr>
						<th>Status:</th>
						<td>{{ suggestion.status}}</td>
					</tr>
				{% endif %}
				<tr>
					<th>Category</th>
					<td>{{ suggestion.category }}</td>
				</tr>
			</table>
		</div>
	</div>
	{% if user.is_staff %}
		<div class="clearfix">
			<button type="submit" class="btn btn-primary pull-right">Update Status</button>
		</div>
			</form>
		<br>
	{% endif %}

	<form method="POST" action="{% url 'suggestionbox:addComment' suggestion.id %}" class="form-horizontal" role="form">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-lg-10">
				{{commentForm}}
		</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 clearfix">
				<button type="submit" class="btn btn-primary pull-right">Add comment</button>
			</div>
		</div>
	</form>
	{% if comments %}
		<h3 style="margin-bottom: 0">User Comments:</h3>
		{% for comment in comments %}
			<hr style="margin-left: 20px">
			<p style="color:#999999; font-size: 10px">Posted by <strong>{{ comment.user }}</strong> on {{ comment.pub_date }}</p>
			<p style="padding-left: 20px;">{{ comment.comment }}</p>
		{% endfor %}
	{% else %}
		<h3>No comments yet.  Be the first!</h3>		
	{% endif %}
{% endblock %}
