{% extends 'base.html' %}

{% block title %}改善 - List of Suggestions{% endblock %}

{% block content %}

{# List of suggestions #}
<div class="panel panel-default">
	<div class="panel-heading">
		{% if user.is_authenticated %}
			<h3>Hello, {{ user.username }}. Here is your List of Suggestions.</h3>
		{% else %}
			<h3>Current List of Suggestions</h3>
		{% endif %}
		{% if user.is_authenticated %}
			<a href="addSuggestion" class="btn btn-primary">Add Suggestion</a>
		{% else %}
			<p> &nbsp; Please log in for more details or to add a suggestion.</p>
		{% endif %}
	</div>
	<div class="panel-body">
		{% if not suggestions %}
			{# If no suggestions to display #}
			<h1>Suggestion Box is Empty!</h1>
			<p> &nbsp; Would you like to add something? </p>
		{% else %}
			{# If there are suggestions to be viewed #}
			<table class="table">
				<tr style="border: 0px">
    				{# Only show if logged in #}
                    {% if user.is_authenticated %}
						<th style="border: 0px">Author</th>
	    				<th style="border: 0px">Title</th>
    					<th style="border: 0px">Description</th>
    					<th style="border: 0px">Category</th>
    					<th style="border: 0px">Pub Date</th>
    					<th style="border: 0px">Status</th>
					{% else %}
						<th>Title</th>
    					<th>Category</th>
    					<th>Pub Date</th>
					{% endif %}
    			</tr>
				{% for suggestion in suggestions %}
	                {% if user.username|stringformat:"s" == suggestion.user|stringformat:"s" %}
						<tr style="background: #F2F6FF">
					{% else %}
						<tr>
					{% endif %}
					{# Only show author if logged in #}
                    {% if user.is_authenticated %}
						<td>{{ suggestion.user }}</td>
						<td><a href="{% url 'suggestionbox:detail' suggestion.id %}">{{ suggestion.title }}</a></td>
						<td>{{ suggestion.description }}</td>
    					<td>{{ suggestion.category }}</td>
    					<td>{{ suggestion.pub_date }}</td>
    					<td>{{ suggestion.status }}</td>
					{% else %}
						<td>{{ suggestion.title }}</td>
    					<td>{{ suggestion.category }}</td>
    					<td>{{ suggestion.pub_date }}</td>
					{% endif %}
				</tr>
		{% endfor %}
			</table>
		{% endif %}
	</div>	
</div>
{% endblock %}
